<!-- app.component.html -->

<div class="container-fluid">
  <div class="row">
      
      <!-- Left Pane -->
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <p>Welcome {{admin.name}}!</p>
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'profile/' + admin.userId">View Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'edit-user/' + admin.userId">Edit Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'list-users'">List users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'admin-notifications'">Notifications</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'all-posts'">List Posts</a>
            </li>    
            <li class="nav-item">
              <button class="btn btn-primary float-right" (click)="logout()">Log out</button>
            </li>   
          </ul>
        </div>
      </nav>
  
      <!-- Right Pane -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  