<div class="container-fluid">
  <div *ngIf="user.type === 'Blocked'; else notBlocked">
      <h5>Welcome {{user.name}}!</h5>
            <p>You are blocked and can't access anything.</p>
      <button class="btn btn-primary float-right" (click)="logout()">Log out</button>
    </div>
    
    <ng-template #notBlocked>
      <div class="row">
        <!-- Left Pane -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
          <p>Welcome {{user.name}}!<span *ngIf="user.type=='Verified'" class="verified">✔</span></p>
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'profile/' + user.userId">View Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'edit-user/' + user.userId">Edit Profile</a>
              </li>   
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'all-posts'">All posts</a>
              </li>   
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'add-post/' + user.userId">Add Post</a>
              </li>       
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'post-by-user/' + user.userId">My Posts</a>
              </li> 
              <li class="nav-item">
                <a *ngIf="user.type=='Verified'" class="nav-link" [routerLink]="'comment-notifications/' + user.userId">Comment Notifications</a>
              </li> 
              <li class="nav-item">
                <button class="btn btn-primary " (click)="logout()">Log out</button>
              </li>
            </ul>
          </div>
        </nav>
    
        <!-- Right Pane -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          
          <router-outlet></router-outlet>
        </main>
      </div>
    </ng-template>    
  </div>