<div class="container">
     <table class="table" *ngIf="isUserExist">
        <tr>
            <td>User ID</td>
            <td>
                <input type="text" [(ngModel)]="user.userId" readonly class="form-control">
            </td>
        </tr>
        <tr>
            <td>User Name</td>
            <td>
                <input type="text" [(ngModel)]="user.name" class="form-control">
            </td>
        </tr>
        <tr>
            <td>User Role</td>
            <td>
                <input type="text" [(ngModel)]="user.role" readonly class="form-control">
            </td>
        </tr>
        <tr *ngIf="role === 'User'">
            <td>User Type</td>
            <td>
                <input type="text" [(ngModel)]="user.type" readonly class="form-control">
            </td>
        </tr>
        <tr>
            <td>User Email</td>
            <td>
                <input type="text" [(ngModel)]="user.userEmail" class="form-control">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" [(ngModel)]="user.password" class="form-control">
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input type="text" [(ngModel)]="user.status" readonly class="form-control">
                
            </td>
            <button class="btn btn-primary" (click)="upgrade(user.userId)" *ngIf="role === 'User' && (user.status!='Requested' && user.status!='Upgraded')">Upgrade Request</button>
        </tr>
        <tr>
                <td colspan="2">
                <button class="btn btn-primary" (click)="edit()">Edit</button> &nbsp;
            </td>
        </tr>

    </table>
</div>