
<button class="btn btn-secondary" (click)="home()">Home</button>
<div class="container mt-5">
    <h1 class="text-center">Contact TweetIT</h1>
    <p>
        Have questions or feedback? We'd love to hear from you!
    </p>
    
    <p>
        You can contact us via email at <a href="mailto:info@tweetit.com">infotweetit.com</a>.
    </p>


        Follow us on social media:
        <ul>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="#" target="_blank">Instagram</a></li>
        </ul>
</div>


