<div class="container mt-5">
  <h2>Create Post</h2>
  <form (ngSubmit)="f.form.valid && onSubmit()" class="needs-validation" #f="ngForm" novalidate>

    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="post.title" name="title" required
             #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }">
      <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
        Please provide a valid title.
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="post.description" name="description" required
                #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"></textarea>
      <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
        Please provide a valid description.
      </div>
    </div>

    <div class="mb-3">
      <app-upload-img (onUploadFinished)="uploadFinished($event)"></app-upload-img>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="text-danger">{{msg}}</div>
</div>
