
<div class="container mt-5">
  <h2>Create Post</h2>
  <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <!-- <div class="mb-3">
      <label for="userId" class="form-label">User ID:</label>
      <input type="text" class="form-control" id="userId" [(ngModel)]="post.userId" name="userId" required>
      <div class="invalid-feedback">
        Please provide a valid User ID.
      </div>
    </div> -->

    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="post.title" name="title" required>
      <div class="invalid-feedback">
        Please provide a valid title.
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="post.description" name="description" required></textarea>
      <div class="invalid-feedback">
        Please provide a valid description.
      </div>
    </div>

    <div class="mb-3">
      <app-upload-img (onUploadFinished)="uploadFinished($event)"></app-upload-img>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{msg}}
</div>