<button class="btn btn-secondary" (click)="home()">Home</button>
    <div class="container mt-5">
        <h1 class="text-center">About TweetIT</h1>
        <p>
            Welcome to TweetIT, a platform that allows you to share your thoughts and ideas with the world in 280 characters or less.
        </p>
        <p>
            Our mission is to provide a simple and efficient way for users to express themselves with others through short messages, images , or tweets.
        </p>
        <p>
            Feel free to join our community and start tweeting today!
        </p>
    </div>
